<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.comp5216.crossstitchorganiser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ColourSpecificPage"> </activity>

        <activity android:name=".ProjectSpecificPage"> </activity>
        <activity android:name=".ProjectsAddPage"> </activity>
        <activity android:name=".ProjectsCurrentPage"
            android:parentActivityName=".ProjectsAddPage"> </activity>
        <activity android:name=".ProjectsMainPage"> </activity>
        <activity android:name=".ProjectsWishlistPage"> </activity>

        <activity android:name=".ShoppingListPage"> </activity>

        <activity android:name=".ThreadSpecificPage"> </activity>
        <activity android:name=".ThreadsAddPage"> </activity>
        <activity android:name=".ThreadChangeQuantityPage"></activity>
        <activity android:name=".ThreadsInventoryColourPage"> </activity>
        <activity android:name=".ThreadsInventoryFullPage"> </activity>
        <activity android:name=".ThreadsMainPage"> </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="project.comp5216.crossstitchorganiser"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />


</manifest>